html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    background-color: #FFFFFF;
  }
  
  ol, ul {
    list-style: none;
  }

body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

h1 {
    font-family: 'Poppins';
    font-weight: 700;
    padding-left: 30px;
    font-size: 120px;
    color: #292929;
}

h2 {
    font-family: 'Poppins';
    font-weight: 500;
    padding-left: 30px;
    font-size: 40px;
    color: #292929;
    background: none;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 810px;
    background: url(images/header_bac.png) no-repeat;
    background-size: contain;
    background-position: right top;
}

.header-container {
    margin-top: 150px;
    margin-left: 60px;
}

.header-container img {
    margin-right: -60px;
    width: 100%;
}

.header-img {
    margin-left: -120px;
}

.style {
    display: flex;
    margin-top: 30px;
}

.style-container-left {
    width: 50%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 50px;
}

.style-content {
    text-align: right;
}

.style-btn {
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    background: #a5a5a5;
    padding: 5px 20px;
    border-radius: 40px;
}

.style-container-center {
    width: 20%;
    margin: 0 100px;
}

.style-container-center img {
    width: 100%;
}

.style-container-right {
    width: 30%;
}

.style-container-right p {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 37px;
    color: #292929;
}

.advantages {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
}

.advantages-black {
    background-color: #292929;
    color: #FFFFFF;
    width: 50%;
    padding: 50px 0;
}

.advantages-black-container, .advantages-wight-container {
    display: flex;
    align-items: center;
}

.advantages-black-container img {
    width: 130px;
    height: 80px;
    margin: 0 50px;
}

.advantages-wight-container img {
    width: 130px;
    height: 80px;
    margin: 0 50px;
}

.advantages-wight {
    width: 50%;
    padding: 50px 0;
}

.cart {
    background: url(images/tonmi.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    padding: 80px 0;
    padding-right: 70px;
}

.cart-btn {
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    background: #a5a5a5;
    padding: 5px 20px;
    border-radius: 40px;
}

.cert-content {
    text-align: right;
}

.product-name {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.product-price {
    font-size: 74px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.product-features {
    font-size: 26px;
    margin: 0;
    padding: 0;
}

.cart_2 {
    background: url(images/calsif.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    padding: 80px 0;
    padding-right: 70px;
}

.cart_3 {
    background: url(images/barten.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    padding: 80px 0;
    padding-right: 70px;
}

.cart_4 {
    background: url(images/foreto.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    padding: 80px 0;
    padding-right: 70px;
}

.cart_5 {
    background: url(images/liment.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    padding: 80px 0;
    padding-right: 70px;
}

.cart_6 {
    background: url(images/farl.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    padding: 80px 0;
    padding-right: 70px;
}

.cart_7 {
    background: url(images/conver.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    padding: 80px 0;
    padding-right: 70px;
}

.cart_8 {
    background: url(images/namico.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    padding: 80px 0;
    padding-right: 70px;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
}

.project-img {
    background: url(images/Без\ названия.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
}

.project-content {
    width: 50%;
    text-align: right;
}

.gallery_1_1, .gallery_1_2, .gallery_2, .gallery_2_2-block {
    display: flex;
    background: #292929;
}

.gallery_1_1-img-1, .gallery_2_1 {
    width: 30%;
    padding-right: 5px;
}

.gallery_1_1-img-2, .gallery_2_2 {
    width: 70%;
}

.gallery_1_2 {
    padding-top: 5px;
}

.gallery_1_2-img-1, .gallery_2_2-img-1 {
    width: 50%;
    padding-right: 5px;
}

.gallery_1_2-img-2, .gallery_2_2-img-2 {
    width: 50%;
}

.gallery_2 {
    padding-top: 5px;
}

.gallery_2_1-img {
    width: 100%;
    height: 100%;
}

.gallery_2_2-img-3 {
    width: 100%;
    height: 380px;
    padding-top: 5px;
}

.gallery_3 {
    display: flex;
    padding: 0 80px;
    padding-top: 5px;
    background: #292929;
}

.gallery_3 img {
    width: 50%;
    padding: 0 80px;
}

footer {
    background: url(images/footer.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 80px;
    padding-top: 80px;
}

.footer-h1 {
    background: none;
    padding-bottom: 150px;
    line-height: 1;
}

.footer-btn {
    text-decoration: none;
    font-size: 43px;
    font-weight: 700;
    color: #ffffff;
    background: #a5a5a5;
    padding: 10px 30px;
    border-radius: 20px;
}

.footer-phone {
    text-decoration: none;
    font-size: 51px;
    font-family: 'Poppins';
    font-weight: 700;
    color:#292929;
    padding-top: 50px;
}

.form {
    display: none;
}

.show {
    display: block;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

.popup {
    width: 400px;
    height: 300px;
    background: #ababab;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    margin: 20% auto;
    padding-top: 2px;
}

span {
    border-radius: 20px;
    margin-left: 92%;
    background: #d5d5d5;
    color: #fff;
    font-size: 1.25em;
    padding: 0px 10px;
    cursor: pointer;
  }

  .form__input {
    padding: 13px;
    border: 0;
    border-radius: 7px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    margin: 0 auto;
    width: 80%;
    display: block;
    margin-top: 30px;
  }

  /*1280px*/
  @media (max-width: 1280px) {
    .cart_2, .cart_4, .cart_6 {
        padding: 100px 0;
        padding-right: 70px;
    }
    footer {
        height: 700px;
    }
  }

 /*1024px*/
 @media (max-width: 1024px) {
    header {
        height: 600px;
    }
    .header-container img {
        width: 70%;
    }
    h1 {
        font-size: 100px;
    }
    h2 {
        font-size: 30px;
    }
    .style-btn {
        font-size: 23px;
    }
    .style-container-center {
        margin: 0 50px;
    }
    .style-container-right p {
        font-size: 27px;
    }
    .advantages-black-container img {
        width: 60px;
        height: 40px;
    }
    .advantages-wight-container img {
        width: 60px;
        height: 40px;
    }
    .advantages {
        font-size: 30px;
    }
    .cart, .cart_2, .cart_3, .cart_4, .cart_5, .cart_6, .cart_7, .cart_8 {
        height: 650px;
    }
    .gallery_2_2-img-3 {
        height: 260px;
    }
    .footer-h1 {
        font-size: 80px;
        padding-bottom: 100px;
    }
    .footer-btn {
        font-size: 30px;
    }
    .footer-phone {
        font-size: 40px;
    }
    footer {
        height: 560px;
    }
 }

  /*430px*/
  @media (max-width: 430px) {
    header {
        height: 300px;
    }
    .header-container {
        margin-top: 60px;
        margin-left: 10px;
    }
    .header-container img {
        width: 210px;
    }
    h2 {
        font-size: 10px;
        padding-left: 0;
    }
    .style-container-center {
        width: 50%;
        margin: 0 20px;
    }
    .style-container-right p {
        font-size: 10px;
        line-height: 4;
        height: 40px;
    }
    h1 {
        font-size: 25px;
    }
    .style-btn {
        font-size: 7px;
    }
    .style-container-left {
        height: 300px;
        padding-top: 40px;
    }
    .style-container-center img {
        width: 85%;
    }
    .advantages {
        font-size: 10px;
    }
    .advantages-black-container img {
        width: 30px;
        height: 20px;
        margin: 0 10px;
    }
    .advantages-wight-container img {
        width: 30px;
        height: 20px;
        margin: 0 10px;
    }
    .advantages-black {
        padding: 20px 0;
    }
    .advantages-wight {
        padding: 20px 0;
    }
    .cart-btn {
        font-size: 7px;
    }
    .product-name {
        font-size: 10px;
    }
    .product-price {
        font-size: 20px;
    }
    .product-features {
        font-size: 7px;
    }
    .cart, .cart_2, .cart_3, .cart_4, .cart_5, .cart_6, .cart_7, .cart_8 {
        height: 260px;
    }
    .cart {
        padding: 20px 0;
        padding-right: 20px;
    }
    .cart_2, .cart_4, .cart_6 {
        padding: 35px 0;
        padding-right: 20px;
    }
    .cart_3, .cart_5, .cart_7, .cart_8 {
        height: 220px;
        padding-top: 0;
        padding-bottom: 10px;
        padding-right: 20px;
    }
    .project {
        padding-right: 20px;
    }
    .project-img {
        height: 200px;
    }
    .gallery_2_2-img-3 {
        height: 110px;
    }
    .footer-h1 {
        font-size: 24px;
        padding-bottom: 50px;
    }
    .footer-btn {
        font-size: 10px;
    }
    .footer-phone {
        font-size: 10px;
        padding-top: 10px;
    }
    footer {
        padding-left: 20px;
        padding-top: 20px;
        height: 220px;
    }
    .popup {
        width: 300px;
        height: 250px;
    }
    span {
        margin-left: 89%;
    }
    .form__input {
        padding: 10px;
    }
    .otvet-show {
        top: 10% !important;
        left: 10% !important;
        width: 80% !important;
        font-size: 24px !important;
    }
    .old {
        margin-bottom: -5px !important;
        font-size: 10px !important;
    }
  }
  
  @media (max-width: 375px) {
    .cart, .cart_2, .cart_3, .cart_4, .cart_5, .cart_6, .cart_7, .cart_8 {
        height: 230px;
    }
  }
  
  .form__input[type="submit"] {
  padding: 13px;
  border: 0;
  border-radius: 7px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  margin: 0 auto;
  width: 80%;
  display: block;
  margin-top: 30px;
  background-color: #007aff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.form__input[type="submit"]:hover,
.form__input[type="submit"]:focus {
  background-color: #0056b3;
}


  .old {
    text-decoration: line-through;
    color: #c7c7c7;
    margin-bottom: -30px;
    font-size: 50px;
  }

.otvet {
    display: none;
  }

.otvet-show {
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 40%;
    position: fixed;
    width: 30%;
    height: 30%;
    background: #ababab;
    border-radius: 10px;
    padding: 30px;
    font-size: 30px;
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
    color: #FFFFFF;
  }

  .otvet-btn {
    width: 20%;
    margin: 0 auto;
    height: 20%;
    margin-top: 40px;
    background: #007aff;
    border: none;
    border-radius: 10px;
    color: #FFF;
    font-size: 25px;
    cursor: pointer;
  }